<p>
  frame works!
</p>

<ul>
  <li><a routerLink="/" >{{ "menu.dashboard" | translate }}</a></li>
  <li><a routerLink="/students" >{{ "menu.students" | translate }}</a></li>
  <!--<li><a routerLink="/login" >{{ "menu.login" | translate }}</a></li>-->
  <li><a routerLink="/units" >{{ "menu.units" | translate }}</a></li>
  <li><a routerLink="/groups" >{{ "menu.groups" | translate }}</a></li>
  <li><a (click)="logout()" >{{ "menu.logout" | translate }}</a></li>
</ul>

<div id="modal-container"></div>

<router-outlet></router-outlet>